*{
    box-sizing: border-box;

}
html{
    padding: 0;
    margin: 0 auto;
}
body {
    margin:0 auto;
    padding: 0;
    width: 100vpw;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;;
}
#header{
    margin: 0 0 1rem 0;
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 12%;
    
}

#header-img{
    width: 60%;

}
.nav-bar{
    display: flex;
    align-items:end;
    justify-content: space-evenly;
    padding-bottom: 3rem;
    width: 40%;
    background: linear-gradient(white, grey);
}

.nav-bar a{
    text-decoration: none;
    color: black;
}

main{
    position: absolute;
    top: 12%;
    left:0;
    right:0;
    width: 100%;
    z-index: -1;
}

.block{
    width: 80%;
    margin: 1rem auto;
}

.form-section {
    text-align: center;
    margin-top: 3rem;
}

fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 1rem;
    margin-top: 0;
}

#email{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: black;
    width: 100%;
    margin: 0 auto 1rem auto;
}

#submit{
    background-color: rgb(190, 130, 70);
    border: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 5px;
    
}

input::placeholder{
    font-style: bold;
    text-shadow: 1cap;
    font-size: 0.9rem; 
}

ul{
    width: 100%;
}

.material-symbols-outlined{
    width: 20%;
    height: 20%;

}
li{
    width: 100%;
    font-size: 1rem;
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    

}
.para{
    width: 80%;
    margin: 0 auto;
}

.para h3{
    font-size: 1.5rem;
}

.para p{
    font-size: 1.1rem;
}

#video{
    width: 100%;
    height: 500px;
    border-radius: 5px;
}

.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    row-gap: 1rem;
    grid-auto-flow: row;
    grid-auto-rows: 50%;
    

}

.div{
    width: 75%;
    border: 2px solid black;
    margin: 1rem 1rem 1rem 1rem ;
    padding-bottom: 1rem;
    text-align: center;
    
}

.div h4{
    padding:1rem;
    margin: 0 auto;
    background: linear-gradient(rgb(194, 173, 173), grey);
}

button{
    border: none;
    font-size: 1.1rem;
    padding: 0.5rem;
    font-style: bold;
    background-color: orangered;
    border-radius: 2px;
}

footer{
    width: 100%;
    height: 12%;
    position: relative;
    bottom:0;
    display: flexbox;
    flex-direction: column-reverse;
    align-items: flex-end;
    background: linear-gradient(grey,white);
}

.link-div{
    display: flex;
    flex-direction: row-reverse;
    
    
}
.link-div a{
    margin: 1rem 2rem 0 2rem;
    text-decoration: none;
    color: black;
}
